<div class="jumbotron">
  <div class="container">
    <div class="new-user">
      <header>
        <h1>Create Account</h1>
      </header>
      <%= render 'form' %>
      <p>Already have an account? <%= link_to "Sign In", signin_path %></p>
    </div>
  </div>
</div>