<div class="jumbotron home">
  <h1>Welcome To RSS-Dictator!</h1>
  <p>
    <%= link_to "Sign In", signin_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
